@model IEnumerable<_19T1021036.DomainModels.Customer>
@{
    ViewBag.Title = "Quản lý khách hàng";
}


<div class="box box-primary">
    <div class="box-body">
        @*Form tìm kiếm*@
        <form action="~/Customer">
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Search" autofocus value="@ViewBag.SearchValue">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>Tìm kiếm
                    </button>
                    <a href="~/Customer/Create" style="margin-left: 6px;" class="btn btn-primary">
                        <i class="fa fa-plus"></i>Bổ sung
                    </a>
                </div>


            </div>
        </form>
        @*Kết quả tìm kiếm*@
        <p>
            Có <strong>@ViewBag.RowCount</strong> khách hàng trong tổng số <strong>@ViewBag.PageCount</strong> trang
        </p>

        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="bg-primary">
                        <th>Tên khách hàng</th>
                        <th>Tên giao dịch</th>
                        <th>Địa chỉ</th>
                        <th>Email</th>
                        <th>Quốc gia</th>
                        <th>Thành phố</th>
                        <th>Mã bưu chính</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.CustomerName</td>
                            <td>@item.ContactName</td>
                            <td>@item.Address</td>
                            <td>@item.Email</td>
                            <td>@item.Country</td>
                            <td>@item.City</td>
                            <td>@item.PostalCode</td>
                            <td>
                                <a href="~/Customer/Edit/@item.CustomerID" class="btn btn-xs btn-primary">
                                    <i class="fa fa-edit">
                                    </i>
                                </a>
                                <a href="~/Customer/Delete/@item.CustomerID" class="btn btn-xs btn-danger">
                                    <i class="fa fa-trash">
                                    </i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

        <div class="text-center">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.PageCount; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="active"><a href="#">@i</a></li>
                    }
                    else
                    {
                        <li><a href="~/Customer?page=@i&searchValue=@ViewBag.SearchValue">@i</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>